MONGODB_URI=mongodb://127.0.0.1:27017/poly2026

JWT_ACCESS_SECRET=your-access-secret
JWT_REFRESH_SECRET=your-refresh-secret
JWT_RESET_SECRET=your-reset-secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
JWT_RESET_EXPIRES_IN=30m

CLOUDINARY_CLOUD_NAME=dj4omgwmi
CLOUDINARY_API_KEY=778186412712486
CLOUDINARY_API_SECRET=npkTCNkdhayXOb3v-qUMb-_4Mmw

SMTP_HOST=
SMTP_PORT=
SMTP_SERVICE=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
FRONTEND_URL=http://localhost:3000

VNP_API=https://sandbox.vnpayment.vn/merchant_webapi/api/transaction
VNP_HASHSECRET=GLQYEDNCQMOQNNTMBWMPAAEDPWTWLFOH
VNP_RETURNURL=http://localhost:5173/success
VNP_TMNCODE=NRQRJA4J
VNP_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html


NODE_ENV=development
APP_NAME=golden-billiards-be
PORT=8080
API_PREFIX=/api/v1
LOG_LEVEL=info
CORS_ORIGIN=*
